.header {
  width: 100vw;
  height: 35px;
  background: white;
  overflow: hidden;
  transition: all 300ms ease;
  position: fixed;
  box-shadow: 2px 0 7px black;
  z-index: 60;
}

.open-nav {
  height: 190px;
}

.site-logo {
  padding: 0 10px;
  height: 35px;
}

.site-logo img {
  width: 150px;
  margin-top: 5px;
}

.open-nav-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: turquoise;
  cursor: pointer;
}

/* nav {
  background-color: greenyellow;
} */

.nav-links li {
  line-height: 30px;
  padding-left: 10px;
  transition: all 300ms ease;
  list-style-type: none;
}

.nav-links li:hover {
  padding-left: 15px;
  background-color: aliceblue;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.social-links li {
  margin: 0 10px;
  line-height: 30px;
  transition: all 300ms ease;
}

.social-links li:hover {
  transform: translateY(-10px);
}

.social-links li a {
  color: black;
}

@media screen and (min-width: 600px) {
  .open-nav-icon {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 5%;
  }

  .site-logo img {
    width: 250px;
    margin-top: unset;
  }

  .header nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-links li {
    padding-left: 0;
  }

  .nav-links li:hover {
    padding-left: 0px;
    background-color: unset;
    font-weight: 900;
    color: turquoise;
  }

  .nav-links li:hover a {
    color: turquoise;
  }
}
