* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  font-family: sans-serif;
}

.section-head {
  color: #030329;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 80px;
}

.section-head span {
  color: #1c9185;
  margin-left: 10px;
}
